.profileView{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.leftSide{
    width: 28%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
}

.rightSide{
    width: 28%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
}

.centerSide{
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
}

.profileInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #434343;
    padding: 20px;
    border-radius: 10px;
}

.createPost{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #434343;
    padding: 20px;
    border-radius: 10px;

}

.post{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #434343;
    padding: 20px;
    border-radius: 10px;
}

.createAdd{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #434343;
    padding: 20px;
    border-radius: 10px;

}

.UserImage{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding: 3px;
}
.userName{
    color: white;
    font-size: 15px;
    font-weight: bold;
    /* padding: 3px; */
}

.locationAndStatus{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}


.postText{
    width: 100%;
    background-color: grey;
    padding: 6px;
    border-radius: 20px;
}

.postButton{
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
    padding: 5px;
    width: 70px;
}

.imageAndButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.postTime{
    color: white;
    font-size: 12px;
    font-weight: 300;
    /* padding: 3px; */

}

.postTextShown{
    margin-top: 5px;
    margin-bottom: 5px;
    color: white ;
    font-size: 14px;
    font-weight: 500;
}

.postImage{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.addImage{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.editArea{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: #434343; */
}

.editArea:hover .editIcon {
    cursor: pointer;
    color:cornflowerblue;
  }

  .editIcon{
    color: white;
    /* font-size: 20px; */
  }